<header id="header">
    <nav id="navbar" class="header__nav">
        <a href="/" id="logo" class="header__title">CRUD Todos and Notes</a>
        <ul>
            <li class="header__link"><a href="/todos">Todos</a></li>
            <li class="header__link"><a href="/todos/new">Add Todo</a></li>
            <li class="header__link"><a href="/notes">Notes</a></li>
            <li class="header__link"><a href="/notes/new">Add Note</a></li>
        </ul>
    </nav>
</header>