<header>
    <nav>
        <a href="/">CRUD Todo's</a>
        <ul>
            <li><a href="/todos">Todos</a></li>
            <li><a href="/todos/new">Add Todo</a></li>
        </ul>
    </nav>
</header>