<header>
    <nav>
        <a href="/">CRUD Todos and Notes</a>
        <ul>
            <li><a href="/todos">Todos</a></li>
            <li><a href="/todos/new">Add Todo</a></li>
            <li><a href="/notes">Notes</a></li>
            <li><a href="/notes/new">Add Note</a></li>
        </ul>
    </nav>
</header>