<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD-Todo's</title>
    <link rel="stylesheet" href="../public/style.css">
</head>
<body>
    <header id="navbar" class="flex-container flex--center position-fixed--wide">
        <h1>CRUD-Todo's</h1>
        <p id="todo-display"><%= code %></p>
    </header>
    <%- include("_buttons.ejs", {id: locals.id}) %>
    <main class="flex-container flex--center">
        <div id="todo-display" class="todos-container">
            <ul id="todos">           
            </ul>
        </div>
    </main>
    <footer class="flex-container flex--center position-fixed--wide">
        <span>created by DoganiWho©</span>
    </footer>
</body>
</html>