<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <title>CRUD-Todo's</title>
</head>
<body>
    <header id="navbar" class="flex-container flex--center position-fixed--wide">
        <h1 >CRUD Todos</h1>
    </header>
    <main class="flex-container flex--center">
        <form action="/todos/create" method="POST" id="add-todo" class="flex-container">
            <input type="text" id="todo-name" name="todo" placeholder="Add new Todo">
            <input type="text" id="todo-tags" name="tags" placeholder="Tags">
            <button type="submit" id="todo-submit">Add</button>
        </form>
        <div class="todos-container">
            <ul class="todos-list">
            <% for(var i=0; i<todos-list.length; i++) {%>
                <li class="todo">
                <span><%= todos-list[i].todo %></span>
                <span><%= todos-list[i].tags %></span>
                </li>
            <% } %>
            </ul>   
        </div>
    </main>
    <footer class="flex-container flex--center position-fixed--wide">
        <span>created by DoganiWho©</span>
    </footer>
    <script src="../app.js"></script>
</body>
</html><!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
</body>
</html>