<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/style.css">
    <title>CRUD-Todo's</title>
</head>
<body>
    <header id="navbar" class="flex-container flex--center">
        <h1 >CRUD Todos</h1>
    </header>
    <main>
        <form action="/todo/create/" method="POST">
            <input type="text" name="value" placeholder="Add todo">
            <button type="submit">Submit</button>
        </form>
        <div class="todo-container">
            <ul></ul>
        </div>
    </main>
    <footer class="flex-container flex--center">
        created by DoganiWho©
    </footer>
</body>
</html>