.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color-bg-dark); 
  padding: .25rem;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

#icons {
  display: flex;
}