:root {
    --color-base-hue: 162;
    --color-bg-dark: hsl(var(--color-base-hue), 15%, 27%);
    --color-bg-light: hsl(var(--color-base-hue), 7%, 45%);
    --color-text-light: hsl(var(--color-base-hue), 25%, 85%);
    --color-overlay: hsl(102, 12%, 56%);
    --color-accent: hsl(23, 15%, 70%); 
    --black: hsl(0, 14%, 1%);
    --color-danger-hue: calc(var(--color-base-hue) - 180);
    /* --color-disabled-hue:; */
}