<h2 class="page-header">Search Notes</h2>
<form action="/notes" method="GET">
    <label for="">Title</label>
    <input type="text" name="title" value="<%= searchOptions.title %>">
    <button type="submit">Search</button>
</form>
<br>
<h3>Notes</h3>
<% notes.forEach( note => { %>
    <div class="note__card"><%= note.title %></div>
<% }) %>