<h2>Search Todos</h2>
<form action="/todos" method="GET">
    <label for="">Name</label>
    <input type="text" name="name" value="<%= searchOptions.name %>">
    <button type="submit">Search</button>
</form>
<br>
<h3>Todos</h3>
<ul>
    <% todos.forEach( todo => { %>
        <li ><%= todo.name %></li>
    <% }) %>
</ul>