<h2 class="page-header">New Todo</h2>
<form action="/todos" method="post">
    <%- include('_form_fields.ejs') %>
    <a href="/todos" class="btn">Cancel</a>
    <button type="submit" class="btn">Create</button>
</form>